{% extends 'base.html' %}
{% block about-active %}
active
{% endblock about-active %}
active
{% block content %}
<div class="row justify-content">
    <div class="col-md-12 col-lg-10">
        <p class="text-muted">Name:</p>
        <h1 class="text-primary">Cephas Patterson</h1>

        <br>

        <p class="text-muted">Bio:</p>
        <p>I fell in love with the instance response you get from typing a few html tags. Since then, i've been striving
            to learn more and grow my experience as a developer.</p>


        <br>

        <p class="text-muted">Technologies:</p>
        <p><span>HTML5 </span> <span>CSS3 </span> <span>Bootstrap4</span> <span>JavaScript </span> <span>Python </span>
            <span>Django</span></p>


        <br>

        <p class="text-muted">Contact:</p>
        <div class="row">
            <div class="col-md-4">
                <p><i class="fas fa-phone-alt mr-3"></i>+233 541 607 208</p>
            </div>
            <div class="col-md-4">
                <p><i class="fas fa-envelope mr-3"></i>cspat99@gmail.com</p>
            </div>
            <div class="col-md-4">
                <p><i class="fab fa-instagram-square mr-3"></i>cs_patterson</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}