{% extends 'base.html' %}
{% block blog-active %}
active
{% endblock blog-active %}

{% block content %}
<div class="row justify-content">
    <div class="col-md-12 col-lg-10  mb-4">
        <div class="py-3">
            <h1 class="">
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </h1>
            <small>{{post.timestamp}}</small>


            <div class="detail-text mt-4">
                <p class="lead p-3 bg-light">{{post.header}}</p>

                <br>
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}